{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #444444;
        }
        .container {
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>My first blog!!!</h1>
    {% for article in articles %}
        <h3>{{ article.pk }}. {{ article.title }}</h3>
        <p>{{ article.author }} | {{ article.created_at }}</p>
        <div>{{ article.text }}</div>
    {% endfor %}
    <a href="/articles/add/">Add Articles</a>
</div>
</body>
</html>