{% extends "base.html" %}
{% block title %}Delete Article{% endblock %}
{% block menu %}
    <li><a href="{% url 'article_view' article.pk %}">Cancel</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete article "{{ article.title }}"?</h1>
    <form action="{% url "article_delete" article.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url "article_view" article.pk %}">Cancel</a></p>
    </form>
{% endblock %}